@model PROJECT_OLX.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/profile.css" rel="stylesheet" />
    <link href="~/css/Null_Style.css" rel="stylesheet" />
    <title>Profile</title>
</head>
<body>
    
        <div class="container">
            <div class="profile">
                <div class="profile__title">@ViewBag.UserBaze.FirstName</div>
                <div class="profile__line"></div>
                <div class="profile__info">
                    <div class="info__avatar" style="background: url('@ViewBag.UserBaze.AvatarPath')"></div>
                    <div class="info__items">
                        <div class="items__title">@ViewBag.UserBaze.FirstName</div>
                        <div class="items__desc text">Опис: @ViewBag.UserBaze.Desc</div>
                        <img src="~/img/" alt="Alternate Text" />
                        <form asp-action="Login" asp-controller="Login" method="post" enctype="multipart/form-data">
                            <input class="items__button" type="submit" value="Редагувати профіль" />
                            </form>
                    </div>
                    <form asp-action="Profile" asp-controller="Profile" method="post" enctype="multipart/form-data">
                        <div class="info__exit"><button class="info__exit" type="submit">Вийти</button></div>
                        </form>
                </div>
                <div class="profile__line"></div>
                <div class="add">
                    <div class="add__title profile__title">Мої оголошення</div>
                    <div class="profile__add">
                            @foreach (var u in ViewBag.Baze)
                            {
                        <a asp-controller="AdOfUser" asp-action="AdOfUser" asp-route-addId=@u.Id>
                            <div class="content__items">
                                <div class="content__image" style="background: url('@u.Path') 0 0 no-repeat; background-size: cover;"></div>
                                <div class="content__title"><p>@u.Title</p></div>
                                <div class="content__country">@u.Country</div>
                                <div class="content__cost">@u.Cost.ToString("C", new System.Globalization.CultureInfo("en-us"))</div>
                            </div>
                            <form asp-action="Del" asp-controller="Profile" asp-route-addId=@u.Id method="post" enctype="multipart/form-data">
                                <div class="delete__button"><input type="submit" value="Видалити" /></div>
                                </form>
                        </a>
                            }
                        </div>
                    </div>
            </div>
        </div>
    }
    </body>
</html>