@using PROJECT_OLX.Models;
@model IEnumerable<Add>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/redact.css" rel="stylesheet" />
    <link href="~/css/proffile.css" rel="stylesheet" />
    <link href="~/css/Null_Style.css" rel="stylesheet" />
    <title>Профіль</title>
</head>
<body>
    <script src="~/js/add.js"></script>
        <div class="container">
            <div class="profile">
                <div class="profile__title">Профіль</div>
                <div class="profile__line"></div>
                <div class="profile__info">
                   @if (ViewBag.User == ViewBag.UserId)
                   {
                       <form asp-action="ProfilePhotoAdd" asp-controller="Profile" method="post" enctype="multipart/form-data">
                    <label for="upload-file__input_1">
                        <div class="content__avatar" id="content__avatar" style="background: #f3f3f3 url('@ViewBag.UserBaze.AvatarPath') 0 0/100% no-repeat;">
                            <input type="file" asp-controller="Profile" asp-action="Profile" name="uploadedFile" id="upload-file__input_1" class="upload-file__input" accept=".jpg, .jpeg, .png" multiple onchange="download_user(this)" />
                            <input type="submit" style="width: 0.1px; height: 0.1px; opacity: 0; z-index: -1;" class="avatar__submit"/>
                        </div>
                    </label>
                        </form>
                   }
                   else
                   {
                       <div class="content__avatar__not" style="background: #f3f3f3 url('@ViewBag.UserBaze.AvatarPath') 0 0/100% no-repeat;"></div>
                   }
                    <div class="info__items">
                        <div class="items__title">@ViewBag.UserId</div>
                    </div>
                    @if(ViewBag.User == ViewBag.UserId)
                    {
                    <form asp-action="Profile" asp-controller="Profile" method="post" enctype="multipart/form-data">
                        <button class="info__exit" type="submit">Вийти</button>
                    </form>
                    }
                </div>
                <div class="profile__line"></div>
                <div class="add">
                    <div class="add__title profile__title">Мої оголошення</div>
                    <div class="profile__add">
                            @foreach (var u in Model)
                            {
                        <a asp-controller="AdOfUser" asp-action="AdOfUser" asp-route-addId=@u.Id>
                            <div class="content__items">
                                <div class="content__image" style="background: url('@u.Path') 0 0 no-repeat; background-size: cover;"></div>
                                <div class="content__title"><p>@u.Title</p></div>
                                <div class="content__country">@u.Country - @if (u.Data.Day == DateTime.Now.Day)
                                        {
                                            @:Сегодня @u.Data.ToString("HH:mm", new System.Globalization.CultureInfo("uk-UA"))
                                        }
                                        else
                                        {
                                            @u.Data.ToString("dd MMMM", new System.Globalization.CultureInfo("uk-UA"))
                                        }</div>
                                <div class="content__Cost">@u.Cost.ToString("C0", new System.Globalization.CultureInfo("uk-UA"))</div>
                            </div>
                            @if(ViewBag.User == ViewBag.UserId)
                            {
                                <form asp-action="Del" asp-controller="Profile" asp-route-addId=@u.Id method="post" enctype="multipart/form-data">
                                <div class="delete__button"><input type="submit" value="Видалити" /></div>
                                </form>
                            }
                        </a>
                            }
                        </div>
                    </div>
            </div>
        </div>
    }
    </body>
</html>