@model PROJECT_OLX.Models.Search
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Null_Style.css">
    <link rel="stylesheet" href="~/css/index.css">
    <title>OLX</title>
</head>
<body>
    <script src="~/js/add.js"></script>
    <div class="container">
        <div class="header">
            <p>@ViewBag.Dates</p>
            <div class="header__burger">
                @if (ViewBag.Account == null)
                {
                    <div class="burger__text">@Html.ActionLink("Вхід", "Login")</div>
                    <div class="burger__text">@Html.ActionLink("Реєстрація", "Registration")</div>
                }
                else
                {
                    <div class="burger__add">@Html.ActionLink("Створити оголошення", "Add")</div>
                    <a asp-controller="Profile" asp-action="Profile" asp-route-userId="@ViewBag.Account">
                        <div class="header__avatar">
                            <img src="@ViewBag.UserBaze.AvatarPath" />
                        </div>
                    </a>
                }
            </div>
        </div>
        <div class="search">
                <input class="input__search" type="search" placeholder="Пошук..." autofocus required />
                <button class="input__button" onclick="search()" >Пошук</button>
        </div>
        <div class="add">
            <div class="add__items">
                <div class="add__title">Оголошення</div>
                <div class="add__content">
                    @foreach (var u in ViewBag.Baze)
                    {
                            <a asp-controller="AdOfUser" asp-action="AdOfUser" asp-route-addId=@u.Id>
                                <div class="content__items">
                                    <div class="content__image" style="background: url('@u.Path') 0 0 no-repeat; background-size: cover;"></div>
                                    <div class="content__title"><p>@u.Title</p></div>
                                    <div class="content__country">
                                        @u.Country - @if (u.Data.Day == DateTime.Now.Day)
                                        {
                                            @:Сегодня @u.Data.ToString("HH:mm", new System.Globalization.CultureInfo("uk-UA"))
                                        }
                                        else
                                        {
                                            @u.Data.ToString("dd MMMM", new System.Globalization.CultureInfo("uk-UA"))
                                        }
                                    </div>
                                    <div class="content__cost">@u.Cost.ToString("C0", new System.Globalization.CultureInfo("uk-UA"))</div>
                                </div>
                            </a>
                    }
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>