@using PROJECT_OLX.Models;
@using System.Linq;
@model PROJECT_OLX.Models.SearchViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Null_Style.css">
    <link rel="stylesheet" href="~/css/index.css">
    <title>PROFIT</title>
</head>
<body>
    <script src="~/js/add.js"></script>
    <div class="container">
        <div class="header">
            <a asp-action="Index" asp-controller="Home"><div class="header__logo"></div></a>
            <div class="header__burger">
                @if (ViewBag.Account == null)
                {
                    <div class="burger__text"><a asp-action="Logining" asp-controller="Logining">Вхід</a></div>
                    <div class="burger__text"><a asp-action="Regist" asp-controller="Regist">Реєстрація</a></div>
                }
                else
                {
                    if(ViewBag.UserBaze.IsAdmin)
                    { 
                        <div class="burger__add" style="margin-right: 20px;"><a asp-action="AdminPanel" asp-controller="AdminPanel"><span>Адмін-панель</span></a></div>
                    }
                    if(!ViewBag.UserBaze.IsBanned)
                    {
                        <div class="burger__add"><a asp-action="Add" asp-controller="Add" ><span>Створити оголошення</span></a></div>
                    }
                    <a asp-controller="Profile" asp-action="Profile" asp-route-userId="@ViewBag.Account">
                        <div class="header__avatar" style="background: #f3f3f3 url('data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.UserBaze.Avatar))') center/cover no-repeat">
                           
                            
                    </div>

                </a>
                }
            </div>
        </div>
        <form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
        <div class="input__search__categories__block">
        <div class="search">
                <input class="input__search" asp-for="Input" type="search" placeholder="Пошук..." autofocus required />
                <button type="submit" class="input__button">Пошук</button>
        </div>
        <div class="select__block">
            <div class="select" onclick="select()"><span>Виберіть категорію</span></div>
            <div class="categories">
                <ul>
                    @foreach (var u in ViewBag.Categories)
                    {
                        <li class="li__block" onclick="selected__category('@u.Name', @u.Id)">@u.Name</li>
                    }
                </ul>
            </div>
            </div>
            <input class="disabled__input__categories" asp-for="Category.Name"  type="text">
        </div>
        </form>
        <div class="add">
            <div class="add__items">
                <div class="add__title">Оголошення</div>
                <div class="add__content">
                    @foreach (Add u in ViewBag.AddBaze)
                    {
                            <a asp-controller="Advertisement" asp-action="Advertisement" asp-route-addId=@u.Id>
                                <div class="content__items">
                                    <div class="content__image" style="background: url('data:image/jpeg;base64,@(Convert.ToBase64String(u.Photos.First().Avatar))') center/cover"></div>
                                    <div class="content__title"><p>@u.Title</p></div>
                                    <div class="content__country">
                                        @u.Country - @if (u.Data.Day == DateTime.Now.Day)
                                        {
                                            @:Сегодня @u.Data.ToString("HH:mm", new System.Globalization.CultureInfo("uk-UA"))
                                        }
                                        else
                                        {
                                            @u.Data.ToString("dd MMMM", new System.Globalization.CultureInfo("uk-UA"))
                                        }
                                    </div>
                                    <div class="content__cost">@u.Cost.ToString("C0", new System.Globalization.CultureInfo("uk-UA"))</div>
                                </div>
                            </a>
                    }
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>